*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #34495e;
  color: #ccc;

}
.header-image{
  background-image: url('images/dog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
.header-text{
  color: #1abc9c;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
nav{
  background-color: #ccc;
  height: 100px;
}
nav ul{
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
nav ul .logo{
  text-align: left;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  color: #B83227;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 25px;
  text-decoration: none;
}
.body{
  padding: 40px 10px;
}
.container-fluid{
  background:#fff;
  padding-bottom:30px;
}
.grid{
  background-color: #B83227;
}
.container, .card-deck{
  margin-top:30px;
}
.icons, .social-media, .footer{
  text-align: center;
}
.social-media a{
  font-size: 2.5rem;
  padding: 20px 40px;
  color: #B83227;
}
.icons, .footer{
  padding:20px 2px;
}
